git+https://github.com/naya1503/mypyrogram@dev
pyromod
tgcrypto
pytz
psutil
python-dotenv
GitPython
bs4
pymediainfo
pymongo
unidecode
attrify
pySmartDL
html2text
removebg
aiofiles
aiohttp==3.10.0
gpytranslate
gtts
telegraph[aio]
openai
py-tgcalls
# git+https://github.com/yt-dlp/yt-dlp.git@master
wget
python-dateutil
emoji
search_engine_parser
httpx==0.27.2
pytimeparse
uvloop
yt-dlp
Pillow==8.3.2
requests
meval
speedtest-cli
opencv-python
youtube-search-python
google-generativeai
aiocron
aiosignal==1.3.1
bing-image-downloader
gen-bing==0.0.6
blinker
brotli
cryptography
dnspython
fake-useragent
ffmpeg-python
flask
gitdb
gitpython
git+https://github.com/google-gemini/generative-ai-python.git@main
git+https://github.com/pytgcalls/pytgcalls.git@master
gTTS
gpytranslate
git+https://github.com/sarag5/multi_search_engine.git@main
ntgcalls
numpy==1.26.4
opencv-python-headless
playwright
pysocks
pytimeparse2
pyyaml
search-engine-parser
tornado
regex
